{{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.name) }}
        </div>
    </div>

    <button class="btn btn-primary mt-3">Valider</button>
{{ form_end(form) }}