{% extends 'base.html.twig' %}

{% block title %} Modifier une catégorie {% endblock %}

{% block body %}
    
<div class="container w-75 mt-3">
    <h1>Modifier une catégorie</h1>
    <a class="btn btn-primary mt-2 mb-3" href="{{ path('category') }}">Retour</a>

    {{ include('category/_form.html.twig') }}
</div>

{% endblock %}