{% extends 'base.html.twig' %}

{% block title %}Bienvenue | Accueil{% endblock %}

{% block body %}

    <div class="container w-75 mt-2">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <h1>Catégories</h1>

        {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
            <a type="button" class="btn btn-primary my-3" href="{{ path('category.add') }}">Ajouter une catégorie</a>
        {% endif %}
        
        <table class="table">
            <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th scope='col'>Name</th>

                    {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                        <th scope='col'>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>

                        {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                            <td>
                                <a class="btn btn-primary d-inline-block" href="{{ path('category.edit', {id:category.id}) }}">Editer</a>
                                
                                <form class="d-inline-block mr-3" method="POST" action="{{ path('category.delete', {id:category.id}) }}" onsubmit="return confirm('Confirmer la suppression ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~category.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
