{% extends 'base.html.twig' %}

{% block title %} Modifier une salle {% endblock %}

{% block body %}
    
<div class="container w-75 mt-3">
    <h1>Modifier une salle</h1>
    <a class="btn btn-primary mt-2 mb-3" href="{{ path('room') }}">Retour</a>

    {{ include('room/_form.html.twig') }}
</div>

{% endblock %}