{% extends 'base.html.twig' %}

{% block title %}Bienvenue | Accueil{% endblock %}

{% block body %}

    <div class="container w-75 mt-2">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <h1>Salles</h1>

        {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
            <a type="button" class="btn btn-primary my-3" href="{{ path('room.add') }}">Ajouter une salle</a>
        {% endif %}
        
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th scope='col'>#</th>
                    <th scope='col'>Name</th>
                    <th scope='col'>City</th>
                    <th scope='col'>Description</th>
                    <th scope='col'>Disponibilité</th>
                    
                    {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                        <th scope='col'>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.name }}</td>
                        <td>{{ room.city }}</td>
                        <td>{{ room.description | length > 60 ? room.description | slice (0, 60) ~ '...' : room.description }}</td>
                        <td>{{ room.isAvailable }}</td>

                        {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                            <td>
                                <a class="btn btn-primary d-inline-block" href="{{ path('room.edit', {id:room.id}) }}">Editer</a>
                                
                                <form class="d-inline-block mr-3" method="POST" action="{{ path('room.delete', {id:room.id}) }}" onsubmit="return confirm('Confirmer la suppression ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~room.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
