{% extends 'base.html.twig' %}

{% block title %} Ajouter une salle {% endblock %}

{% block body %}
    <div class="container w-75 mt-3">
        <h1>Ajouter une salle</h1>
        <a class="btn btn-primary mt-2 mb-3" href="{{ path('room') }}">Retour</a>

        {{ include('room/_form.html.twig') }}
    </div>
{% endblock %}