{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation de mot de passe envoyée{% endblock %}

{% block body %}
    <div class="container mt-3 w-75">
        <p>
            Si un compte est trouvé avec votre adresse mail, un email sera envoyé, contenant un lien vous permettant de réinitialiser votre mot de passe.
            Ce lien expirera dans {{ tokenLifeTime|date('g') }} heure.
        </p>
        <p>Si vous ne recevez pas l'email, regardez dans vos spams ou <a href="{{ path('app_forgot_password_request') }}">renvoyer le lien</a>.</p>
    </div>
{% endblock %}
