<h1>Bonjour !</h1>

<p>Afin de réinitialiser votre mot de passe, cliquez sur le lien suivant : </p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ tokenLifeTime|date('g') }} heure.</p>

<p>Merci !</p>
