{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container w-75 mt-2">
        <h1 class="mb-4">Réinitialisation du mot de passe</h1>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div class="my-3">
                <small>
                    Entrez votre adresse email et vous allez recevoir un lien afin de pouvoir réinitialiser votre mot de passe
                </small>
            </div>

            <button class="btn btn-primary">Envoyer le lien</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
