{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container mt-2 w-75">
        <h1>Réinitialisation du mot de passe</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary my-3">Réinitialisation du mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
